
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

/* LEFT */
.footer-logo {
  font-size: 30px;
  color: white;
  margin-bottom: 15px;
}

.footer-logo span {
  color: #00e676;
}

.footer-description {
  max-width: 400px;
  font-size: 14px;
  line-height: 1.6;
}

/* RIGHT */
.footer-right {
  display: flex;
  gap: 60px;
}

.footer-right h3 {
  color: white;
  margin-bottom: 15px;
}

.footer-right p {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
  color: white;
}

.social-icons svg {
  cursor: pointer;
  transition: 0.3s;
}

.social-icons svg:hover {
  color: #00e676;
  transform: scale(1.1);
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 20px;
  font-size: 13px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-right {
    flex-direction: column;
    gap: 30px;
  }
}
.footer {
  background: #0b1120;
  padding: 50px 20px;
  margin-top: 0;   /* remove unwanted space */
}